In [1]:
import pandas as pd
import glob

In [2]:
filenames = glob.glob('*xlsx')

In [3]:
listarchivos = [pd.read_excel(archivos) for archivos in filenames]
la = listarchivos

In [21]:
sum_DEPTH = la[0].iloc[:,0].max()

# Ver cómo hacer todos los percentiles con un loop.
q5_CBL = la[0].iloc[:,1].quantile(.05)
q10_CBL = la[0].iloc[:,1].quantile(.1)
q15_CBL = la[0].iloc[:,1].quantile(.15)
q20_CBL = la[0].iloc[:,1].quantile(.2)
q25_CBL = la[0].iloc[:,1].quantile(.25)
q30_CBL = la[0].iloc[:,1].quantile(.3)
q35_CBL = la[0].iloc[:,1].quantile(.35)
q40_CBL = la[0].iloc[:,1].quantile(.4)
q45_CBL = la[0].iloc[:,1].quantile(.45)
q50_CBL = la[0].iloc[:,1].quantile(.5)
q55_CBL = la[0].iloc[:,1].quantile(.55)
q60_CBL = la[0].iloc[:,1].quantile(.6)
q65_CBL = la[0].iloc[:,1].quantile(.65)
q70_CBL = la[0].iloc[:,1].quantile(.7)
q75_CBL = la[0].iloc[:,1].quantile(.75)
q80_CBL = la[0].iloc[:,1].quantile(.8)
q85_CBL = la[0].iloc[:,1].quantile(.85)
q90_CBL = la[0].iloc[:,1].quantile(.9)
q95_CBL = la[0].iloc[:,1].quantile(.95)

# Ver cómo hacer todos los percentiles con un loop.
min_CBL = la[0].iloc[:,1].min()
max_CBL = la[0].iloc[:,1].max()
mean_CBL = la[0].iloc[:,1].mean()

In [25]:
# append? para ir armando la serie?. Cada uno de los archivos daría como resultado una serie. Al final se arma un data frame con todas las series.

29.099999999999998

In [31]:
la[0].loc[:,'Edad'].min()

3

In [38]:
la[0]['Edad'].min()

3

In [27]:
la[0]

                Nombre  Edad
0             Ezequiel    30
1                Ailén    27
2                Floki     3
3            Bebeshito     3
4                 Ailu    27
5  El halcón milenario     3
6            Fibonacci     4

In [ ]:
for dataframe, filename in zip(df, filenames):
  dataframe[filename] = filename
df[0]

In [ ]:
df = pd.DataFrame(df[0]['Nombre'])
df

In [ ]:
type(df)

In [ ]:
nombre_lista_1 = ['']


WellDataSet = list(zip('nombre_lista_1', 'nombre_lista_2', 'nombre_lista_n'))
df_final = pd.DataFrame(data = WellDataSet, columns=['nombres de cada uno de los archivos', 'n2', 'n3'])