In [3]:
import pandas as pd # se importa el modulo pandas para manejo de dataframes.
import glob         # Importa libreria para manejo de archivos con cierto pathname definido
import lasio        # Permite ejecutar unas conversión sobre archivos con extensión .las

archivos_las = glob.glob('*.las') # genera una lista con todos los .las de la carpeta

for m in range(0, len(archivos_las)): # loop que permite recorrer todos los archivos, leerlos y generar un .xlsx.
    lectura = lasio.read(archivos_las[m])
    lectura.to_excel(str(archivos_las[m][:-4] + '.xlsx')) # quita la extensión .las y agrega la extensión .xlsx. dejar solo el nombre del pozo.

archivos_excel = glob.glob('*.xlsx') # genera una lista con todos los .xlsx de la carpeta

archivos_excel

['YPF.SC.CS-2129_CBL-VDL_11-DIC-17.xlsx']

In [4]:
for n in range(0, len(archivos_excel)): # loop que permite recorrer todos los archivos
    df = pd.read_excel(archivos_excel[n], 'Curves') # genera un dataframe
    x = 0 # se establece el valor cero de inicio a la variable x.
    mV = 20 # se define el valor de amplitud para el cual se considera el tope de cemento.
    
    paso = [] # se define la lista paso vacía (Sería más reocmendable generar una Serie de pandas)

    for o in range(0, len(df.DEPT)-1): # se hace un loop sobre la lista para generar la columna paso.
        paso.append(df.DEPT[o+1] - df.DEPT[o])

    paso.append(paso[len(paso)-1]) # se genera el último valor de la lista para que paso tenga la misma cantidad de items que las otras columnas

    s = pd.Series(paso)

    df2 = pd.concat([df,s], axis=1) # agrega la Serie: paso, al dataframe df y se reemplaza el nombre.

    # df2.DEPT es la lista DEPT del dataframe df, en realidad serie de pandas DEPT
    # df2.CBL (AMP3FT) es la lista CBL del dataframe df, en realidad serie de pandas CBL.

    for i in range(0, len(df2.AMP3FT)): # empiezo un loop de cero a la longitud de la lista CBL.
        if df2.AMP3FT[i] <= mV and x < 3: # genero dos condiciones x < 3 (este valor puede cambiar), y el CBL menor o igual al definido (este valor también puede cambiar).
            x = x + df2[0][i] # sumo un paso al valor de la variable x cada que ve que se cumple la condición anterior.
            y = i # la variable y adopta el valor más actual de i.
            # print(y, x), para verificar cómo avanza el loop y comprobar errores.
        elif df2.AMP3FT[i] > mV and x < 3: # genero otras dos condiciones por si no se cumplen las anteriores. En este caso si el CBL es mayor al estabelcido, x vuelve a cero.
            x = 0 # si el valor del CBL es mayor al establecido como bueno, la cuenta vuelve a cero.
            # y = i, para verificar cómo avanza el loop y comprobar errores.
            # print(y, x), para verificar cómo avanza el loop y comprobar errores.
        else:
            break # si no se cumplen ninguna de las condiciones anteriores, el loop rompe.

    # Una vez que el loop rompe, tengo el valor de y = i de la iteración en la cual se cumplen x (en este caso 3) metros.
    # Por lo tanto x será 3 o más, i será el nñumero de iteración que cumple con x = 3 o más.

    z = y - int(x / ((df2[0][i]) - 1)) # z es el valor donde la función comienza a cumplirse.
    toc = df2.DEPT[z] # toc es el tope de cemento definido.
    
    print(z)
    print(toc)

NameError: name 'DEPT' is not defined

In [5]:
print(z)
print(toc)

8009
119.13

In [10]:
df_new = df2[z:len(df2)]

In [11]:
df_new

           DEPT  AMP3FT     CCL      LTEN     TT3FT      0
8009    119.130  2.3308 -0.4801  122.0747  341.1026  0.015
8010    119.145  2.3173 -0.1994  122.0747  345.8398  0.015
8011    119.160  2.3173  0.0595  122.0747  345.8398  0.015
8012    119.175  2.3173  0.2309  122.0747  345.8398  0.015
8013    119.190  2.3173  0.2466  122.0747  345.8398  0.015
8014    119.205  2.3173  0.0833  122.0747  345.8398  0.015
8015    119.220  2.3175 -0.0500  122.0747  350.7281  0.015
8016    119.235  2.3175  0.1771  122.0747  350.7281  0.015
8017    119.250  2.3175  0.6852  122.0747  350.7281  0.015
8018    119.265  2.3175  0.9256  122.0747  350.7281  0.015
8019    119.280  2.3175  0.6432  122.0747  350.7281  0.015
8020    119.295  2.3054  0.2199  122.0747  355.7864  0.015
8021    119.310  2.3054  0.0941  122.0747  355.7864  0.015
8022    119.325  2.3054  0.2824  122.0747  355.7864  0.015
8023    119.340  2.3054  0.4755  122.0747  355.7864  0.015
8024    119.355  2.3054  0.4377  122.0747  355.7864  0.015
8025    119.370  2.2762  0.2483  122.0747  360.8087  0.015
8026    119.385  2.2762  0.0356  122.0747  360.8087  0.015
8027    119.400  2.2762 -0.2024  122.0747  360.8087  0.015
8028    119.415  2.2762 -0.3654  122.0747  360.8087  0.015
8029    119.430  2.2762 -0.2665  122.0747  360.8087  0.015
8030    119.445  2.2496  0.0421  121.0819  365.3827  0.015
8031    119.460  2.2496  0.2978  121.0819  365.3827  0.015
8032    119.475  2.2496  0.4323  121.0819  365.3827  0.015
8033    119.490  2.2496  0.6113  121.0819  365.3827  0.015
8034    119.505  2.2496  0.8500  121.0819  365.3827  0.015
8035    119.520  2.2375  0.9597  121.0819  368.9905  0.015
8036    119.535  2.2375  0.9597  121.0819  368.9905  0.015
8037    119.550  2.2375  0.8058  121.0819  368.9905  0.015
8038    119.565  2.2375  0.3167  121.0819  368.9905  0.015
...         ...     ...     ...       ...       ...    ...
80038  1199.565  2.9834  0.2108  730.6373  333.4348  0.015
80039  1199.580  2.9834  0.1261  730.6373  333.4348  0.015
80040  1199.595  3.1405 -0.1761  729.6445  320.8718  0.015
80041  1199.610  3.1405 -0.2304  729.6445  320.8718  0.015
80042  1199.625  3.1405  0.1421  729.6445  320.8718  0.015
80043  1199.640  3.1405  0.6275  729.6445  320.8718  0.015
80044  1199.655  3.1405  0.9031  729.6445  320.8718  0.015
80045  1199.670  3.2309  0.9344  723.6880  312.0085  0.015
80046  1199.685  3.2309  0.8448  723.6880  312.0085  0.015
80047  1199.700  3.2309  0.7255  723.6880  312.0085  0.015
80048  1199.715  3.2309  0.5100  723.6880  312.0085  0.015
80049  1199.730  3.2309  0.0722  723.6880  312.0085  0.015
80050  1199.745  3.2868 -0.5273  718.7242  306.4025  0.015
80051  1199.760  3.2868 -1.0012  718.7242  306.4025  0.015
80052  1199.775  3.2868 -1.0230  718.7242  306.4025  0.015
80053  1199.790  3.2868 -0.5490  718.7242  306.4025  0.015
80054  1199.805  3.2868  0.0499  718.7242  306.4025  0.015
80055  1199.820  3.3217  0.4305  732.6228  303.5505  0.015
80056  1199.835  3.3217  0.6730  732.6228  303.5505  0.015
80057  1199.850  3.3217  0.9806  732.6228  303.5505  0.015
80058  1199.865  3.3217  1.2315  732.6228  303.5505  0.015
80059  1199.880  3.3217  1.0351  732.6228  303.5505  0.015
80060  1199.895  3.3306  0.2690  734.6083  303.0832  0.015
80061  1199.910  3.3306 -0.5712  734.6083  303.0832  0.015
80062  1199.925  3.3306 -0.7767  734.6083  303.0832  0.015
80063  1199.940  3.3306 -0.1782  734.6083  303.0832  0.015
80064  1199.955  3.3306  0.5801  734.6083  303.0832  0.015
80065  1199.970  3.3162  0.7418  729.6445  304.8667  0.015
80066  1199.985  3.3162  0.3244  729.6445  304.8667  0.015
80067  1200.000  3.3162 -0.0952  729.6445  304.8667  0.015

[72059 rows x 6 columns]

In [15]:
key = ['mean', 'max', 'min', 'q5', 'q10', 'q15', 'q20', 'q25', 'q30', 'q35', 'q40', 'q45', 'q50', 'q55', 'q60', 'q65', 'q70', 'q75', 'q80', 'q85', 'q90', 'q95'] 
# lista con cuantiles generados
values = [] # se genera una lista vacia que se ira llenando a medida que el loop avance
values.append(df_new['AMP3FT'].mean()) # agrega la media a la lista values.
values.append(df_new['AMP3FT'].max()) # agrega el valor máximo a la lista values.
values.append(df_new['AMP3FT'].min()) # agrega el valor mínimo a la lista values.

for q in range(5,100,5): # loop desde 5 a 100 con paso 5 para los distintos cuantiles.
    values.append(df_new['AMP3FT'].quantile(q/100)) # función que agrega el valor calculado del cuantil a la lista values.

df_final = pd.DataFrame(values, index=key) # se genera un dataframe con los valores de la lista values y los indices de la lista key. Ver cómo trasponer.
df_final # se muestra el dataframe.

              0
mean  26.425491
max   73.067500
min    0.230100
q5     0.713330
q10    0.994600
q15    1.387740
q20    2.072700
q25    3.336100
q30    5.632900
q35    8.924700
q40   14.028600
q45   19.165700
q50   23.707800
q55   28.989600
q60   34.998100
q65   40.138200
q70   43.897500
q75   47.598300
q80   50.390740
q85   52.814100
q90   55.249500
q95   59.015800

In [19]:
df_final.T

,mean,max,min,q5,q10,q15,q20,q25,q30,q35,...,q50,q55,q60,q65,q70,q75,q80,q85,q90,q95
0,26.425491,73.0675,0.2301,0.71333,0.9946,1.38774,2.0727,3.3361,5.6329,8.9247,...,23.7078,28.9896,34.9981,40.1382,43.8975,47.5983,50.39074,52.8141,55.2495,59.0158